<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="homestyles.css">
<style> 
body {
  background-image: url("bg.jpg");
  background-color: #cccccc;
  background-size: cover;
}
</style>
</head>
<body>
    
    
      <div class="col-8" style="margin-left: auto; margin-right: auto; float: none; margin-top: 0px; "> 
          <div style="margin-top: 0px; padding-top: 0px;background-color: white;border-radius: 15px; margin-top: 0px;">
                    <div class="card">
                      <div class="container">
                        <p style="font-size: 30px; font font-weight: bold; margin-bottom: 0px; font-weight: bold;">Software Engineer - Integration job from WSO2 in Colombo, Sri Lanka</p>
                        <h4><b>Job Description</b></h4> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. </p>
                        
                      </div>
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 0px; font-weight: bold;">Application</div>
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 10px;">Name:   <input type="text" style="width: 100%;"></div>
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 10px;">Email:   <input type="text" style="width: 100%;"></div>
                        
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 10px;">Mobile No:   <input type="text" style="width: 100%;"></div>
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 10px;">Upload cv:   <input type="file" style="width: 100%;"></div>
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 10px;">Cover letter:   </div>
                        <div style="padding: 20px; padding-bottom: 0px; padding-top: 10px;">   
                        <textarea id="w3review" name="w3review" style="width: 100%; resize: none; height: 200px;padding: 5px;"></textarea></div>
                        <div style="margin-top: 0px; padding: 20px; padding-top: 0px;"><input type="button" value="Submit" style="background:#191970; text-align: center;padding-left: 0px; padding: 10px; padding-top: 5px; padding-bottom: 5px; border-radius: 7px; font-size: 15px; margin-top: 0px; color: white; font-weight: bold; transition-duration: 0.4s; margin: none; border: none; width: 15%; cursor: pointer;" onMouseover="this.style.backgroundColor='gray'" onMouseout="this.style.backgroundColor='#191970'">
                        <input type="button" value="Cancel" style="background:#191970; text-align: center;padding-left: 0px; padding: 10px; padding-top: 5px; padding-bottom: 5px; border-radius: 7px; font-size: 15px; margin-top: 0px; color: white; font-weight: bold; transition-duration: 0.4s; margin: none; border: none; width: 15%; cursor: pointer;" onMouseover="this.style.backgroundColor='gray'" onMouseout="this.style.backgroundColor='#191970'">
                        
                        
                        </div>
                        </div>

                    </div>
              
                    
          
       </div>
          
</body>
</html>